<!DOCTYPE html>
<html>
<head>
    <title>
        Configuration
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <h1>Home</h1>
    <div class="container">
        <div>
            @ViewBag.MyKey
        </div>
        <div>
            @ViewBag.MyApiKey
        </div>
        <div>
            @ViewBag.ClientId
        </div>
        <div>
            @ViewBag.ClientSecret
        </div>
        <div>
            @ViewBag.SectionClient
        </div>
        <div>
            @ViewBag.OptionsClientId
        </div>
        <div>
            @ViewBag.OptionsClientSecret
        </div>
        <div>
            @ViewBag.BoundClientId
        </div>
        <div>
            @ViewBag.IOptionsClientId
        </div>
    </div>
</body>
</html>